<div class="container-fluid mt-5">
  <h1 class="h3 text-gray-800 text-center">Welcome to groups list</h1>
  <div class="my-5">
    <label for="faculty">Choose faculty</label>
    <select [(ngModel)]="currentFacultyId" class="form-control" name="faculty" id="faculty" (change)="chooseFaculty()"> 
      <option value="0">Show all</option> 
      <option *ngFor="let item of serviceVar.facultyList" [value]="item.id"> {{item.name}}</option> 
    </select>
  </div> 
    

  <table  id="main1" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Faculty of this group</th>
        <th><a routerLink="/add_groups"><i class="fa fa-plus-circle"></i> Add groups</a></th>
      </tr>
    </thead>
    <tbody *ngFor="let item1 of serviceVar.facultyList">
      <tr  *ngFor="let item2 of item1?.groups">
        <td>{{item2.id}}</td>
        <td >{{item2.name}}</td>
        <td>{{item1.name}}</td>
        <td><button (click)="removing(item1.id, item2.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table> 


  <table id="main2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Faculty of this group</th>
        <th><a routerLink="/add_groups"><i class=" fa fa-plus-circle"></i> Add groups</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currentFaculty?.groups">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{currentFaculty.name}}</td>
        <td><button (click)="removing(this.currentFaculty.id, item.id)" class="btn btn-danger">Delete</button></td>
      </tr>  
    </tbody>
  </table>  
</div>